@import url('https://fonts.googleapis.com/css2?family=Borel&family=Pacifico&family=Erica+One&family=Quicksand:wght@300..700&family=Righteous&display=swap');

:root {
    --first-color: #3e1e05;
    --second-color: #693005;
    --third-color: #965015;
    --fourth-color: #c4913e;
    --fith-color: #ccac85;
    --default-title-color: rgb(255, 53, 53);
    --reg-font: 'Quicksand';
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--reg-font);
}

.title {
    font-family: 'Borel';
    color: var(--default-title-color);
}

.text-border {
    text-shadow: 0px 0px 2px #000000, 0px 0px 2px #000000, 0px 0px 2px #000000, 0px 0px 2px #000000;
}

.header {
    position: relative;
    height: 125dvh;
    background-image: url('src/header-content/header-bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.normal-nav {
    position: fixed;
    z-index: 99;
    width: 100%;
    color: white;
    display: flex;
    gap: 30px;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    padding: 20px 40px;
    backdrop-filter: blur(10px);
    box-shadow: 0px 10px 18px 0px rgba(0, 0, 0, 40%);
}

.navbar ul a {
    text-decoration: none;
    color: inherit;
}

.nav-btn, .side-btn {
    border: white solid 1px;
    padding: 10px 20px;
    white-space: nowrap;
    transition: .4s all;
}

.nav-btn:hover, .side-btn:hover {
    border-radius: 30px;
    background-color: white;
    color: black;
}

.side-btn {
    text-align: center;
    width: 200px;
}

.nav-logo {
    margin-right: auto;
}

.nav-logo h2 {
    font-family: 'Erica One';
    color: rgb(255, 255, 255);
    font-size: 40px;
    white-space: nowrap;
}

.nav-logo h2 span {
    font-family: 'Pacifico';
    color: rgb(255, 43, 43);
    font-size: 35px;
}

.menu-btn {
    display: none;
}

.navbar .sidebar {
    display: none;
    z-index: 99;
    gap: 30px;
    justify-content: center;
    align-items: center;
    color: white;
    flex-direction: column;
    position: fixed;
    top: 0%;
    right: 0%;
    backdrop-filter: blur(10px);
    padding: 40px 40px;
    list-style: none;
    box-shadow: 0px 10px 18px 0px rgba(0, 0, 0, 40%);
}

.close-btn {
    margin-left: auto;
}

.greetings {
    width: 90%;
    padding: 5px;
    position: absolute;
    top: 44%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.greetings .title {
    line-height: 75px;
    font-size: 70px;
}

.greetings p  {
    color: white;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
}

.waves {
    position: absolute;
    bottom: -1%;
}

.waves path {
    background-color: #ffffff;
}

.about-n-reviews-bg {
    background: linear-gradient(0deg, rgba(204,172,133,0) 0%, rgba(196,145,62,1) 100%), url('src/main-content/main-x-section-bg.jpg') no-repeat center;
    background-size: cover;
    width: 100%;
}

.about-us {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 80px;
    padding: 60px 40px;
}

.about-us-text {
    padding: 10px;
    max-width: 600px;
    text-align: center;
    color: white;
    backdrop-filter: blur(10px);
    border-radius: 20px;
}

.about-us-text h3 {
    font-size: 50px;
}

.about-us-text p {
    font-size: 18px;
}

.about-us-img {
    width: 800px;
}

.about-us-img img {
    min-width: 330px;
    width: 100%;
    box-shadow: -7px 10px 19px -3px rgba(26,26,26,1);
    border-radius: 20px;
    transition: .5s;
}

.about-us-img img:hover {
    transform: scale(1.07);
}

.reviews-section {
    margin-top: 100px;
    text-align: center;
}

.reviews-section h3.title{
    font-size: 50px;
}

.reviews {
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 40px;
    flex-wrap: wrap;
}

.reviews-item {
    flex: 0 0 30%;
    padding: 20px;
    border-radius: 20px;
    background-color: #693005c4;
    min-width: 350px;
    max-width: 400px;
    box-shadow: 0px 10px 12px -1px rgba(0,0,0,0.75);
}

.reviews-item h4.title {
    font-size: 24px;
}

.reviews-item p {
    color: white;
    font-size: 16px;
    width: 100%;
}

.review-img {
    width: 200px;
    margin: auto;
}

.review-img img {
    width: 100%;
}







@media (max-width:1200px) {
    .nav-element {
        display: none;
    }

    .menu-btn {
        display: flex;
    }
}

@media (max-width:550px) {
    .sidebar {
        width: 100%;
    }
}

